*{

    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.6rem;
    font-family: Verdana,sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.header{

}
.header__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__item__left{
    display: flex;
    align-items: center;
}
.header__item__left__item{
    /* display: inline-block; */
}
.header__item__left__item__link{
    color: black;
    font-size: 1.8rem;
    height: 91px;
    font-weight: 400;
    display: block;
    padding: 0 11px;
    /* margin: 0 10px; */
    /* padding: 10px; */
    line-height: 9.4rem;
}
.header__item__left__item__link:hover{
    background-color: #04aa6d;
    color: #fff;
    transition: all 0.1s;
}

.header__item__left__item__link__img{
    width: 83px;
}
.header__item__left__icon{

}

.header__item__right{
    display: flex;
    align-items: center;
}
.header__item__right__item{
    /* display: inline-block; */
}
.header__item__right__item__link{
    display: block;
}
.htrtl_black{
    background-color: black;
    color: #fff;
    padding: 14px 14px;
    font-size: 1.8rem;
    border-radius: 24px;
    margin-right: 18px;
}
.htrtl_pink{
    background-color: #ffc0c7;
    color: #000;
    padding: 14px 14px;
    font-size: 1.8rem;
    border-radius: 24px;
    margin-right: 18px;
}
.htrtl_yellow{
    background-color: #fff4a3;
    color: #000;
    padding: 14px 14px;
    font-size: 1.8rem;
    border-radius: 24px;
    margin-right: 18px;
     
}
.htrtl_green{
    background-color:   #04aa6d;
    color: #fff;
    padding: 14px 14px;
    font-size: 1.8rem;
    border-radius: 24px;
    margin-right: 18px;
  
}

.htrtl_black:hover{
    filter: opacity(0.8);
    cursor: pointer;
}
.htrtl_pink:hover{
    filter: opacity(0.8);
    cursor: pointer;
}
.htrtl_yellow:hover{
    filter: opacity(0.8);
    cursor: pointer;
}
.htrtl_green:hover{
    filter: opacity(0.8);
    cursor: pointer;
}



.header__list2{
    display: flex;
    background-color: #282a35;
}
.header__list2__list{
    display: flex;
    align-items: center;
}
.header__list2__list__item{

}
.header__list2__list__item__link{
    display: block;
    /* padding: 0 10px; */
    font-size: 1.7rem;
    color: #fff;
    padding: 17px 17px;
}
.header__list2__list__item__link_on{
    background-color:#04aa6d ;
}
.header__list2__list__item__link:hover,
.header__list2__icon__wrapp__link:hover{
    background-color: #000;
}
.header__list2__list__item__icon{

}

.header__list2__icon__wrapp{
    display: flex;
    margin: 0 0 0 48px;
}
.header__list2__icon__wrapp__list{

}
.header__list2__icon__wrapp__link{
    display: block;
    /* padding: 0 10px; */
    font-size: 1.7rem;
    color: #fff;
    padding: 17px 17px;
}
.header__list2__icon__wrapp__link__icon{

}




.continer{
    display: flex;
}
.continer__left{
    width: 20%;
}
.continer__left__list1{

}
.continer__left__item{

}

.continer__center{
    width: 60%;
}
.continer__center__head{

}
.continer__center__heading{

}
.continer__center__head__btn{

}
.continer__center__head__icon{

}
.continer__center__head__btn{

}
.continer__center__head__icon{

}
.continer__center__head__body{

}
.continer__center__head__dsc{

}
.continer__center__head__dsc{

}
.continer__center__head__dsc{

}
.continer__center__head__body__link{

}
.continer__center__head__body__link__icon{

}
.continer__right{
    width: 20%;
}
.continer__right__img__wrapper{

}
.continer__right__img{

}